---
---

<h3 text-2xl>⚡Skills</h3>
<img
  w-full
  src="https://skillicons.dev/icons?perline=14&i=astro,bash,devto,discord,docker,electron,git,github,githubactions,go,html,idea,java,js,linux,md,mysql,netlify,nextjs,nginx,nodejs,ps,planetscale,postman,py,pytorch,qt,react,redis,ros,rust,sqlite,stackoverflow,solidjs,svg,tailwind,tauri,threejs,twitter,ts,vercel,vite,vscode,vue,workers,zig"
  alt=""
/>
